* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  ul {
  padding: 0;
  margin: 0 auto;
  }
  ::after,
  ::before{
    box-sizing: border-box;
  }
  figure {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-main);
    background-color: var(--background-color-main);
  }
  
  .header{
    border-bottom: 1px solid #ECECEC;
   }
  
  .page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  .justify-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .block__tittle{
      @extend .class-h2;
      margin-top: 0;
      margin-bottom: 50px;
    }