  .logo{
    margin-right: 93px;

    &__links{
      color: var(--blue);
      text-decoration: none;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
    }
    &__links--dark{
      color: var(--black);
    }
  
    &__links--white{
      color: var(--white);
    }
  }
  