.services {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 30px;

    &__item {
      box-sizing: border-box;
      flex-basis: calc((100% - 2 * 30px) / 3);
      position: relative;
      display: flex;
      align-items: center;
      margin: auto;
    }
    &__description {
      position: absolute;
      width: 370px;
      height: 70px;
      bottom: 0;
      color: var(--white);
      text-align: center;
      padding-top: 27px;
      padding-bottom: 27px;
      background-color: rgba(47, 48, 58, 0.8);
      margin-bottom: 0;
    }
  }
 